# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env/
myenv/
# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Logs
logs/
*.log

# Build files
dist/
build/
*.egg-info/

# OS-specific files
.DS_Store
Thumbs.db